.popup__form{
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 54px;
  display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

@media screen and (max-width: 400px) {
  .popup__form {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 75px;
  }
}
